{% extends template.self %}

{% block header %}

{% endblock %}

{% block page %}
<i style="font-size: 18px;" class="octicon octicon-book"></i>
<a href="/develop/list" target="_parent">开发者中心</a> >>
<a href="/develop/book/api" target="_parent">API参考文档</a>
<br/>
<br/>
{{ super() }}
<hr>
<div class="btn-group btn-group-justified">
	{% if page.previous and page.previous.path %}
	<a class="btn" href="{{ page.previous.path|resolveFile }}"><b>上一页:</b> {{ page.previous.title }}</a>
	{% endif %}
	{% if page.next and page.next.path %}
	<a class="btn" href="{{ page.next.path|resolveFile }}"><b>下一页:</b> {{ page.next.title }}</a>
	{% endif %}
</div>
{% endblock %}

{% block footer %}
<div class="footer">
	<div class="icp" style="">Copyright 2016 云呼你 粤ICP备16048993号 All Rights Reserved 广州流水行云科技有限公司</div>
</div>
{% endblock%}
